<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dc.module_bbs">

    <application
        android:label="@string/bbs_name"
        android:theme="@style/AppTheme"
        android:name="debug.BBSApplication"
        tools:replace="android:label">
        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
