<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dc.module_bbs">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".projsummary.ProjectSummaryActivity"
            android:configChanges="layoutDirection|fontScale|locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".searchlist.SearchActivity"
            android:configChanges="layoutDirection|fontScale|locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".projectoverview.ProjectOverviewActivity"
            android:configChanges="layoutDirection|fontScale|locale"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".videomonitoring.VideoMonitoringActivity"
            android:configChanges="layoutDirection|fontScale|locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".labordata.LaborDataActivity"
            android:configChanges="layoutDirection|fontScale|locale"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>